<section class="page-header">
  <h1>Buscar manga</h1>

  <p>
    Busca mangas en MyAnimeList y añádelos después a tu colección física.
  </p>
</section>

<section class="search-card">
  <form [formGroup]="form" (ngSubmit)="search()" class="search-form">
    <label>
      Nombre del manga

      <input
        type="search"
        formControlName="query"
        placeholder="Berserk, One Piece, Vinland Saga..."
      />
    </label>

    <button type="submit" [disabled]="isLoading()">
      @if (isLoading()) {
        Buscando...
      } @else {
        Buscar
      }
    </button>
  </form>

  @if (form.controls.query.touched && form.controls.query.invalid) {
    <p class="field-error">
      Introduce al menos 3 caracteres.
    </p>
  }
</section>

@if (errorMessage()) {
  <div class="alert error">
    {{ errorMessage() }}
  </div>
}

@if (!isLoading() && results().length > 0) {
  <section class="results-grid">
    @for (manga of results(); track manga.malId) {
      <article class="manga-card">
        <div class="cover">
          @if (manga.imageUrl) {
            <img [src]="manga.imageUrl" [alt]="manga.title" />
          } @else {
            <div class="no-image">
              Sin imagen
            </div>
          }
        </div>

        <div class="manga-info">
          <h2>{{ manga.title }}</h2>

          <p>
            MAL ID: {{ manga.malId }}
          </p>

          <a [routerLink]="['/manga', manga.malId]">
            Ver detalle
          </a>
        </div>
      </article>
    }
  </section>
}

@if (!isLoading() && !errorMessage() && form.controls.query.valid && results().length === 0) {
  <p class="empty-state">
    No hay resultados todavía. Busca un manga para empezar.
  </p>
}